.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
h1{
    text-align: center;
    align-items: center;
    margin-left: 25%;
}

.Enter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

